body {
    border-width: 1px;
    opacity: 1;
    position: relative;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.container {
    max-width: 837px;
    margin: auto;
    padding: 40px 60px;
}

section h2 {
    font-size: 32px;
    margin: 0 0 25px 0;
}

header.container {
    
}

header.container div {
    border-width: 1px;
    background: #61787F;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    padding: 10px 0;;
}


header h1 {
    font-weight: 300;
    font-style: light;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #FFFFFF;
    display: none;
}

header img {
    width: 165px; 
    display: block;
    margin: auto;

}

#best-movie .movie {    
    border-width: 6px;
    background: #FFFFFF;
    border: 6px solid #000000;
    position: relative;
    opacity: 1;
}

#best-movie h2 {
    font-weight: 600;
    font-style: Semi-Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000000;
}

#best-movie .movie-info h3 {
    font-weight: 600;
    font-style: Semi-Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000000;
}

#best-movie .movie-info p {
    font-weight: 200;
    font-style: Extra-Light;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000000;
}

#best-movie .movie-info button {
    height: 68px;
    border-radius: 25px;
    padding: 2px 4px;
    gap: 10px;
    background: #FA0B0B;
    opacity: 1;
    position: relative;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

#top-rated-movies h2 {
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000000;
}

.movies-container {
    opacity: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.movies-container .movie-card {
    position: relative;  
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.movies-container .movie-card-details h3{
    margin: 0;
}

.movies-container .movie-card-details {
    position: absolute;  
    top: 34px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 17px 21px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    box-sizing: border-box; 
}    

.movies-container .movie-card-details button {
        display: block;
    margin-right: 0;
    margin-left: auto;
    border-radius: 25px;
    background-color: #2D2C2C;
    color: white;
    width: 81px;
    height: 25px;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;

}

.movies-container img {    
    opacity: 1;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MODAL */
.modal {
    width: 100%;
    height: 100%;
    display: none;
}

.modal.show {
    display: block;
}

.modal-content {
    position: fixed;
    z-index: 2;
    width: 50%;
    height: 50%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.modal-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.btn-close-desktop {
    display: none;
}

.btn-close-mobile {
    position: absolute;
    top: 20px;
    right: 20px;
}

.movie-detail-general {
    display: flex;
}

.movie-desktop-image {
    display: none;
}

.movie-mobile-image {
        display: block;
    }


@media screen and (min-width: 768px) {

    header h1 {
        display: block;
        margin: auto;
    }   

    header img {
        margin: 0;
    }

    .container {
        padding: 40px 80px;
    }

    section h2 {
        font-size: 40px;
    }      

    .movies-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .movies-container .movie-card {
        height: 285px;
    }

    .btn-close-desktop {
        display: block;
    }

    .btn-close-mobile {
        display: none;
    }

    .movie-mobile-image {
        display: none;
    }

    .movie-desktop-image {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 40px 100px;
    }

    section h2 {
        font-size: 48px;
    }  


    .movies-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .movies-container .movie-card {
        height: 252px;
    }
}